*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  background: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-color: rgba(0, 0, 0, 0.082);
  background-blend-mode: multiply;
  padding: 15px 0;
  height: 600px;
}
nav {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.nav-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  list-style: none;

}
.logo {
  align-items: center;
}
.logo h2{
  color: red;
  font-size: 50px;
  text-transform: uppercase;
}
.logo h2 span {
  font-size: 25px;
}
.nav-right {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-left li a, .nav-right li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}